ALLOW_ORIGINS = http://0.0.0.0:8282

MAIL_URL = 'http://localhost:8282'

DATABASE_URL = "postgresql+asyncpg://admin:secret@localhost:5432/pochatox"

JWT_KEY = "SECRET_KEY"
JWT_ALGORITHM = "HS256"

SELF_EMAIL = "pochatox@mail.com"
EMAIL_SERVER = "localhost"
EMAIL_USER = ""
EMAIL_PASSWORD = ""
SMTP_PORT = "1025"

REDIS_HOST = "localhost"
REDIS_PORT = "6379"
